# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Eclipse project
.settings/
.cproject
.project
.directory
Debug/

#CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_manifest.txt
install_manifest.txt
Makefile
libzuazo.so.*

#Example buils
examples/Example1
examples/Example2
examples/Example3
examples/Example4
